<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="xxgo_description">

    <!-- Constants for robot dimensions -->
    <xacro:property name="stick_mass" value="0.00001"/>

    <!-- simplified collision value -->
    <xacro:property name="trunk_width" value="0.180"/>
    <xacro:property name="trunk_length" value="0.238"/>
    <xacro:property name="trunk_height" value="0.14"/>

    <xacro:property name="hip_radius" value="0.035"/>
    <xacro:property name="hip_length" value="0.032"/>

    <xacro:property name="thigh_shoulder_radius" value="0.035"/>
    <xacro:property name="thigh_shoulder_length" value="0.035"/>

    <xacro:property name="thigh_width" value="0.03"/>
    <xacro:property name="thigh_height" value="0.03"/>

    <xacro:property name="calf_width" value="0.018"/>
    <xacro:property name="calf_height" value="0.015"/>
     
    <xacro:property name="foot_radius" value="0.023"/>
    <xacro:property name="stick_radius" value="0.01"/>
    <xacro:property name="stick_length" value="0.2"/>

    <!-- kinematic value -->
    <xacro:property name="thigh_offset" value="0.08055"/>
    <xacro:property name="thigh_length" value="0.12"/>
    <xacro:property name="calf_length" value="0.16852"/>

    <!-- leg offset from trunk center value -->
    <xacro:property name="leg_offset_x" value="0.1645"/>   
    <xacro:property name="leg_offset_y" value="0.050"/> 
    <xacro:property name="leg_offset_z" value="0.0"/> 


    <!-- joint limits -->
    <xacro:property name="damping" value="0.0"/>
    <xacro:property name="friction" value="0.2"/>
     
    <xacro:property name="hip_max" value="${0.33}"/>
    <xacro:property name="hip_min" value="${-0.33}"/>

    <xacro:property name="hip_velocity_max" value="30.9971"/>
    <xacro:property name="hip_torque_max" value="${1.5484*7.75}"/>
     
    <xacro:property name="thigh_max" value="${1.79}"/>
    <!-- <xacro:property name="thigh_min" value="${-0.04}"/> -->
    <!-- for handshake -->
    <xacro:property name="thigh_min" value="${-1}"/>

    <xacro:property name="thigh_velocity_max" value="30.9971"/>
    <xacro:property name="thigh_torque_max" value="${1.5484*7.75}"/>
    <!-- <xacro:property name="calf_max" value="${-52.5*pi/180.0}"/>
    <xacro:property name="calf_min" value="${-154.5*pi/180.0}"/> -->
    <!-- <xacro:property name="calf_max" value="${-0.65}"/> -->
    <xacro:property name="calf_max" value="${-0.9}"/>
    <xacro:property name="calf_min" value="${-2.65}"/>

    <xacro:property name="calf_velocity_max" value="30.9971"/>
    <xacro:property name="calf_torque_max" value="${1.5484*7.75}"/>
  
    <!-- dynamics inertial value -->
    <xacro:property name="trunk_mass" value="4.14304590"/>
    <xacro:property name="trunk_com_x" value="-0.02248608"/>
    <xacro:property name="trunk_com_y" value="-0.00011879"/>
    <xacro:property name="trunk_com_z" value="-0.00679147"/>

    <xacro:property name="trunk_ixx" value="0.01454145"/>
    <xacro:property name="trunk_ixy" value="0.00017282"/>
    <xacro:property name="trunk_ixz" value="-0.00014576"/>
    <xacro:property name="trunk_iyy" value="0.02842016"/>
    <xacro:property name="trunk_iyz" value="0.00004241"/>
    <xacro:property name="trunk_izz" value="0.03523081"/>

    <!-- hip (left front) -->
    <xacro:property name="hip_mass" value="0.35319580"/>
    <xacro:property name="hip_com_x" value="-0.00351874"/>
    <xacro:property name="hip_com_y" value="0.00206525"/>
    <xacro:property name="hip_com_z" value="-0.00048653"/>

    <xacro:property name="hip_ixx" value="0.00014315"/>
    <xacro:property name="hip_ixy" value="-0.00000015"/>
    <xacro:property name="hip_ixz" value="-0.00000004"/>
    <xacro:property name="hip_iyy" value="0.00026346"/>
    <xacro:property name="hip_iyz" value="-0.00000014"/>
    <xacro:property name="hip_izz" value="0.00017711"/>

    <!-- thigh -->
    <xacro:property name="thigh_mass" value="0.71774765"/>
    <xacro:property name="thigh_com_x" value="-0.00371117"/>
    <xacro:property name="thigh_com_y" value="-0.01697974"/>  
    <xacro:property name="thigh_com_z" value="-0.01400046"/>   

    <xacro:property name="thigh_ixx" value="0.00144898"/>
    <xacro:property name="thigh_ixy" value="0.00005716"/>
    <xacro:property name="thigh_ixz" value="-0.00011203"/>
    <xacro:property name="thigh_iyy" value="0.00135146"/>
    <xacro:property name="thigh_iyz" value="0.00019629"/>
    <xacro:property name="thigh_izz" value="0.00071909"/>
    
    <!-- calf -->
    <xacro:property name="calf_mass" value="0.17146643"/>
    <xacro:property name="calf_com_x" value="0.00005074"/>
    <xacro:property name="calf_com_y" value="0.00013040"/>
    <xacro:property name="calf_com_z" value="-0.09362007"/>

    <xacro:property name="calf_ixx" value="0.00083220"/>
    <xacro:property name="calf_ixy" value="0.00000009"/>
    <xacro:property name="calf_ixz" value="0.00003836"/>
    <xacro:property name="calf_iyy" value="0.00083464"/>
    <xacro:property name="calf_iyz" value="-0.00000218"/>
    <xacro:property name="calf_izz" value="0.00003316"/>
    
    <!-- foot -->
    <!-- <xacro:property name="foot_mass" value="0.0087187"/> -->
    <xacro:property name="foot_mass" value="0.05"/>
    <!-- <xacro:property name="foot_com_x" value="-0.0042403"/>
    <xacro:property name="foot_com_y" value="-8.0676E-11"/>
    <xacro:property name="foot_com_z" value="-0.0056271"/>

    <xacro:property name="foot_ixx" value="1.2054E-06"/>
    <xacro:property name="foot_ixy" value="-5.2111E-13"/>
    <xacro:property name="foot_ixz" value="3.5566E-07"/>
    <xacro:property name="foot_iyy" value="1.5621E-06"/>
    <xacro:property name="foot_iyz" value="3.996E-13"/>
    <xacro:property name="foot_izz" value="1.4093E-06"/> -->

</robot>
